body {
  padding: 10px;
  background-color: black;
  text-align: center;
  margin: 0;
  overflow: hidden;
}
canvas {
  display: inline-block;
}

h1{
  border-right: solid 3px rgba(0,255,0,.75);
  white-space: nowrap;
  overflow: hidden;
  font-size: 48px;
  color: rgba(255,255,255,.70);
  margin: 10 auto;
}
 p {
  border-right: solid 2px rgba(0,255,0,.75);
  white-space: nowrap;
  overflow: hidden;
  font-size: 24px;
  color: rgba(255,255,255,.70);
  margin: 0 auto;
}

/* Animation */
 p {
  animation: animated-text 7s steps(55) 1s 1 normal both,
             animated-cursor 500ms steps(55) infinite normal;
}

/* text animation */

@keyframes animated-text{
  from{width: 0;}
  to{width: 1240px;}
}

/* cursor animations */

@keyframes animated-cursor{
  from{border-right-color: rgba(255, 0, 0, 0.75);}
  to{border-right-color: transparent;}
}
